body{
    background-image: url(./1736446.jpg);
    background-position: cover;
    text-align: center;
    color: white;

}
.akan {
    float: left;
    width: 25%;
}  
.pencil {
    height: 20px;
}
ul{
    list-style-type: none;
}